@model Demo.BL.Models.EmployeeVM


@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>



<br />

<a asp-action="Index" asp-controller="Employee" class="btn btn-primary">Back To Employees</a>

<br />
<br />

<form class="form-group" asp-action="Delete" asp-controller="Employee">


    <label asp-for="Name">Employee Name</label>
    <input type="text" class="form-control" asp-for="Name" disabled />
    <br />

    <label asp-for="Salary">Employee Salary</label>
    <input type="text" class="form-control" asp-for="Salary" disabled/>
    <br />

    <label asp-for="Email">Employee Email</label>
    <input type="text" class="form-control" asp-for="Email" disabled/>
    <br />

    <label asp-for="HireDate">Hire Date</label>
    <input type="text" class="form-control" asp-for="HireDate" disabled />
    <br />

    <label asp-for="Notes">Notes</label>
    <textarea class="form-control" asp-for="Notes" disabled></textarea>
    <br />

    <div class="demo-checkbox">
        <input type="checkbox" asp-for="IsActive" disabled>
        <label asp-for="IsActive">IsActive</label>
    </div>
    <br />

    <label asp-for="DepartmentId">Department</label>
    <select asp-for="DepartmentId" asp-items="(SelectList)ViewBag.DepartmentList" disabled></select>
    <br />

    <br />

    <center>
        <input type="submit" value="Delete" class="btn btn-primary" />
    </center>

</form>


